
name: Deploy to Server

on:
  push:
    branches: [ workflow-test ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: CiCD

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true 
          tags: ${{ vars.DOCKERHUB_USERNAME }}/ecommerce_backend:latest

      - name: Logout from Docker Hub
        if: always()
        run: docker logout

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/Ecommerce/Backend
            docker compose pull
            docker compose up -d