name: ci

on:
  push:
    branches: workflow-test

jobs:
  login:
    runs-on: ubuntu-latest
    environment: CiCD
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}