name: Deploy to Server

on:
  push:
    branches: [ workflow-test ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: CiCD

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true 
          tags: ${{ vars.DOCKERHUB_USERNAME }}/ecommerce_backend:latest

      - name: Logout from Docker Hub
        if: always()
        run: docker logout

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p ~/Ecommerce/Backend
            cd ~/Ecommerce/Backend

            echo "Creating docker-compose.yml..."
            cat > docker-compose.yml << 'EOF'
            
            networks:
              Ecommerce_net:
                driver: bridge
              
            volumes:
              mysql_data_vol:
              ecommerce_backend_data_vol:

            services:

              mysql_service:
                image: mysql:8.0
                container_name: mysql_Ecommerce
                ports:
                  - "3308:3306"
                environment:
                  - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
                  - MYSQL_DATABASE=${MYSQL_DATABASE}
                volumes:
                  - mysql_data_vol:/var/lib/mysql
                networks:
                  - Ecommerce_net
                restart: unless-stopped

                
                
              ecommerce_backend_service:
                image: sarojdockerworkspace/ecommerce_backend:latest
                container_name: ecommerce_backend_service
                env_file:
                  - docker_compose.env
                ports:
                  - "8000:8000"
                networks:
                  - Ecommerce_net
                depends_on:
                  - mysql_service
                restart: unless-stopped
                command: >
                  sh -c "
                    npm install &&
                    cd src &&
                    npx sequelize-cli db:create --env development --config config/docker-config.json &&
                    npx sequelize-cli db:migrate --env development --config config/docker-config.json &&
                    npx sequelize-cli db:seed:all --env development --config config/docker-config.json &&
                    cd .. &&
                    npm start
                  "
    

            EOF

            echo "Creating docker_compose.env..."
            cat > docker_compose.env << 'EOF'
            MYSQL_ROOT_PASSWORD=12345
            MYSQL_DATABASE=ecommerce
            NODE_ENV=production
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            PORT=8000
            PRIVATEJWT=${{ secrets.PRIVATEJWT }}
            EMAIL_ID=${{ secrets.EMAIL_ID }}
            EMAIL_PASS=${{ secrets.EMAIL_PASS }}
            EOF


            echo "Pulling and running containers..."
            docker compose pull
            docker compose --env-file docker_compose.env up -d

         