name: Remote SSH Command

on:
  push:
    branches: [ workflow-test ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: CiCD

    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: linuxserver.io
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: whoami