name: Remote SSH Command

on:
  push:
    branches: [ workflow-test ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: CiCD

    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_SSH_KEY }}
          script: whoami